* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Courier, monospace;
}

/* img {
  width: 100%;
} */

body {
  background-color: green;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(143, 188, 143, 0.41);
  padding: 10px;
  font-size: xx-large;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.links a,
.dropdown .dropbtn {
  font-size: large;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.links a:hover,
.navbar a:hover,
.dropdown:hover .dropbtn,
.dropdown a:active {
  background-color: rgba(0, 128, 0, 0.295);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  height: 350px;
  overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-content a,
.dropdown-content p {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 550px) {
  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}