<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest"> -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Agropedia - homepage</title>
</head>

<body>
    <!-- <img src="bg.jpg" alt="Italian Trulli"> -->
    <header>
        <nav class="heading">
            <a href="/">Agropedia</a>
            <ul class="links">
                <div class="dropdown">
                    <button class="dropbtn">Crops
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crops">Rice</a>
                        <a href="/wheat">Wheat</a>
                        <a href="/maize">Maize</a>
                        <a href="/sorghum">Sorghum</a>
                        <a href="/barley">Barley</a>
                        <a href="/pearl millet">Pearl Millet</a>
                        <a href="/finger millet">Finger Millet</a>
                        <a href="/foxtail millet">Foxtail Millet</a>
                        <a href="/proso millet">Proso Millet</a>
                        <a href="/barnyardmillet">Barnyard Millet</a>
                        <a href="/greengram">Green Gram</a>
                        <a href="/blackgram">Black Gram</a>
                        <a href="/bengalgram">Bengal Gram</a>
                        <a href="/pigeonpea">PigeonPea</a>
                        <a href="/horsegram">Horse Gram</a>
                        <a href="/cowpea">Cowpea</a>
                    </div>
                </div>
                <li><a href="/pests">Pests</a></li>
                <li><a href="/diseases">Diseases</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="welcome">
            <p>Welcome to <b class="bold">Agropedia</b></p>
            <p>The one stop for all agriculture knowledge</p>
        </div>
        <img src="../static/css/farmer.png" class="image" alt="farmer">
    </main>
</body>

</html>